body {
	background-color: #000;
}

div.main {
	background-color: #fff;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}

div.main div.ryu {
	float: left;
	width: 659px;
	height: 494px;
}

/* GENERAL STYLING RULES */

/* Sets image dimensions for ryu imgs */
div.ryu-ready, div.ryu-still, div.ryu-throwing, div.ryu-cool {
	width: 659px;
	height: 494px;
}

/* initially hide all except ryu-still */
div.ryu-ready, div.ryu-throwing, div.ryu-cool {
	display:none;
}

/* prevent background-rpt on all imgs */
.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

/* RYU STYLING */

div.main div.ryu div.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

div.main div.ryu div.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

div.main div.ryu div.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

div.main div.ryu div.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

/* INSTRUCTIONS STYLING */

.instructions {
	padding-top: 300px;
	padding-right: 20px;
	text-align: right;
}
.instructions-click {}
.instructions-x {}

/* HADOUKEN STYLING */
div.main div.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: absolute;
	z-index: 10;
	left: 520px;
	top: 167px;
	float: left;

}		

